<h2 class="text-2xl">All Shelters</h2>
<%= link_to "New Shelter", new_shelter_path, class: "block p-2 bg-gray-100 border w-32 text-center rounded-md my-4" %>

<p>
  <%= button_to "Ascending", request.path, params: {sort: "asc"}, method: :get %>
</p>
<ul class="shelters">
  <%= render @shelters %>
</ul>
