<h1><%= @shelter.name %></h1>
<div class="shelter-deatils">
  <p><span>City:</span> <%= @shelter.city %></p>
  <p><span>Rank:</span> <%= @shelter.rank %></p>
  <%= link_to "Edit", edit_shelter_path(@shelter) %>
</div>
